
.text-1 {
    background: linear-gradient(  #c0c8aa, #000000, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
  }
  
  
  .text-2 {
    background: linear-gradient(  #7F8470,#7F8470 , #000000, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    z-index: 2;
  }
  
  .text-3 {
    
    z-index: 3;
  }

  .text-4 {
  }


  .acc {
    background-color: transparent !important;
    color : white !important;
    border: none !important;
  }
